<% unless current_team.tangocard? %>
<div class="well col-md-3">
  <p>
    Highfive is even better with gift cards.
  </p>
  <%= button_to 'Enable Tangocard',
    { controller: 'tangocard', action: 'enable' },
    { class: 'btn btn-success btn-block' } %>
</div>
<% end %>
