<% unless current_team.tangocard? %>
<div class="well col-md-3">
  <p>
    Highfive is even better with gift cards.
  </p>
  <%= link_to 'Configure Tangocard',
    {controller: 'admin', action: 'tangocard'},
    {class: 'btn btn-success btn-block'} %>
</div>
<% end %>
