<h1>Admin</h1>

<% unless slack_user_info %>
<div class="alert alert-warning">
  Couldn't connect to Slack for user data, so we'll only be showing a reduced data set for now.
  Try again in a few minutes.
</div>
<% end %>

<pre>
  <code><%= JSON.pretty_generate slack_user_info %></code>
</pre>
