<%= render 'tangocard_prompt' %>

<h1>Your Team's Statistics</h1>

<% unless slack_users_info %>
<div class="alert alert-warning">
  Couldn't connect to Slack for user data, so we'll only be showing a reduced data set for now.
  Try again in a few minutes.
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <th>Date</th>
    <th>From</th>
    <th>To</th>
    <th>Reason</th>
    <th>Amount</th>
    <th>Card code</th>
  </thead>
  <tbody>
    <tr>
      <td>(todo)</td>
    </tr>
  </tbody>
</table>
