<h1>Configure Tangocard</h1>

<p>
  Enabling Tangocard integration will allow your team members to give high-fives with gift cards attached.
  There are three steps to this procedure.
</p>

<div class="well">
  <% if current_team.tangocard? %>
    <h3>Step 1: Enable Tangocard ✅</h3>
  <% else %>
    <h3>Step 1: Enable Tangocard</h3>
    <p>
      This will create a link between your Slack team and the Tangocard service.
    </p>

    <%= button_to 'Enable',
      { controller: 'tangocard', action: 'enable' },
      { class: 'btn btn-lg btn-success btn-block', id: 'tangocard-step-1' } %>
  <% end %>
</div>
